/*

Add custom font-face declarations in this file. Font files should be included in this directory.

Example:

@font-face {
  font-family: 'Roboto, system-ui, sans-serif';
  src: url('roboto.woff2') format('woff2'), url('roboto.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
}

*/
@font-face {
  font-family: 'Nanum Gothic';
  src: url('NanumGothic/NanumGothic-Bold.ttf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Nanum Gothic Bold';
  src: url('NanumGothic/NanumGothic-ExtraBold.ttf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Graphik Wide Light';
  src: url('GraphikWide/GraphikWide-Light.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Graphik Wide';
  src: url('GraphikWide/GraphikWide-Bold.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Graphik Wide Semibold Italic';
  src: url('GraphikWide/GraphikWide-SemiboldItalic.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Mint Grotesk Display Light';
  src: url('MintGroteskDisplay/MintGroteskDisplay-Light.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Mint Grotesk Display Black';
  src: url('MintGroteskDisplay/MintGroteskDisplay-Black.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Mint Grotesk Display';
  src: url('MintGroteskDisplay/MintGroteskDisplay-Bold.otf');
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
